
 <main role="main" class="inner cover text-center">
 	<div class="row">
	 	<div class="col-md-4">
			<%= image_tag "profile.jpg" , width: 200, height: 200, alt: "Profile Image" %>
	 	</div>
	 	<div class="col-md-8">
			<h1  class="cover-heading">About Me</h1>
			<br>
			<p class="lead">I'm Bharat Mane, Software Engineer. </p>
			<p class="lead">Enthusisam coder who have interest to work on Android and Ruby on Rails</p>
	 	</div>
 	</div>
</main>