
 <main role="main" class="inner cover text-center">
	<h1  class="cover-heading">About Me</h1>
	<br>
	<p class="lead">I'm Bharat Mane, Software Engineer. </p>
	<p class="lead">Enthusisam coder who have interest to work on Android and Ruby on Rails</p>
</main>