<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone "23243243434" %></p>

<p><%= number_to_currency "3434" %></p>

<p><%= number_with_delimiter "54464645" %></p>

<p><%= number_to_percentage "33.3" %></p>



